<!--  Date: 10.07.2012 -->
<!-- @author: Ewa Marciniak x11114533, Malgorzata Holubowicz x12101362  -->


<h1>Welcome</h1>
It's <%= Time.now %>
<br/>
<br/>

<% if @order %>
    <h1>Your last order details:</h1>

    <table>
      <tr>
        <th>Product:</th>
        <th>Quantity:</th>
        <th>Price:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <% @order.line_items.each do |item| %>
          <tr>
            <td><%= item.product.title %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.total_price, {:unit => "&euro;", :separator => ".", :delimiter => ","}) %></td>
          </tr>

          </tr>
        <% end %>
      <tr>
        <td></td>
        <td></td>
      <td><%= number_to_currency(@order.total_price, {:unit => "&euro;", :separator => ".", :delimiter => ","}) %></td>
      <tr/>
    </table>
    <br/>
    <p>
      <b>Order date:</b>
      <%= @order.created_at  %>
    </p>
    <p>
      <b>Payment method:</b>
      <%= @order.pay_type %>
    </p>
<% else %>
    You haven't placed any orders yet
<% end %>

<br/>
<%= link_to 'My Account', :controller => "users", :action => "show" %>
<br/>
<%= link_to 'Purchase History', :controller => "users", :action => "history" %>

