<p id="notice"><%= notice %></p>

<h1> User Details</h1>
<p>
  <b>Login name:</b>
  <%= @user.name %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>


<% if current_user %>
    <% if current_user.admin %>


<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>User ID:</b>
  <%= @user.id %>
</p>


<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

    <% end %>
<% end %>

<!--@reference: Ruby,S. & Thomas,D & Heinemeier Hanson, D. (2010), "Agile Web Development with Rails", USA-->
<!--@reference: Wesley Gorman, "Laptop Shop Tutorial" -->

<h1>Billing Address</h1>

<p>
  <b>Address line 1:</b>
  <%= @user.address1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @user.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @user.postcode %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
